/* Loaded body */
body.loaded {
  opacity: 1;
  transition: 1s opacity;
}

/* Default banner */

.carousel-half {
  width: 50%;
  height: 520px; /* altura fija igual a la imagen */
  margin: 0 auto;
  overflow: hidden;
}

.carousel-half .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-item .btn-custom {
    position: absolute;
    bottom: 20px;  /* distancia desde la parte inferior */
    right: 500px;   /* distancia desde el borde derecho */
    transform: translateX(100%); /* opcional, si quieres centrarlo respecto a su punto */
  }

/* Default image container */

/* Loaded image container
.loaded .banner .background {
  transform: scale(1);
  transition: 6.5s transform;
} */

.logo {
  display: flex; /* Centra el contenido dentro del contenedor */
  justify-content: center;
  align-items: center;
  max-width: 100%; /* Evita que exceda el contenedor */
}

.logo-img {
  width: 100%; /* El logo ocupará el ancho del contenedor */
  max-width: 200px; /* Tamaño máximo (ajusta según necesidad) */
  height: 5rem; /* Mantiene la proporción */
}
@media (max-width: 768px) {
  .logo-img {
    max-width: 150px; /* Cambia el tamaño máximo en pantallas pequeñas */
  }
  .banner {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .logo-img {
    max-width: 100px; /* Cambia el tamaño máximo en pantallas muy pequeñas */
  }
}
